# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=1.6 # Apache-2.0

Babel>=2.3.4 # BSD
ipaddress>=1.0.7;python_version<'3.3' # PSF
passlib>=1.6 # BSD
python-ironic-inspector-client>=1.5.0 # Apache-2.0
python-heatclient>=1.4.0 # Apache-2.0
python-ironicclient>=1.6.0 # Apache-2.0
python-mistralclient>=2.0.0 # Apache-2.0
python-openstackclient>=2.1.0 # Apache-2.0
six>=1.9.0 # MIT
os-cloud-config # Apache-2.0
osc-lib>=1.0.2 # Apache-2.0
websocket-client>=0.32.0 # LGPLv2+
tripleo-common>=5.0.0 # Apache-2.0
